@import "compass";
@import "bootstrap";
@import "bootstrap-responsive";

$red: #EE0000;
$orange: #FF6600;
$lightBlue: #00afeb;

a {color: #9B9292;}
a:hover {color: #9B9292; text-decoration: none;}

body {
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 400;
    color: #474040;
    background-color: #fcfcfc;
}

.big-title {
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 46px;
    font-family: gothic-open-shaded;
    -moz-font-feature-settings: 'liga=1'; /* moz prefix - edit font-feature-settings property */
    -ms-font-feature-settings: 'liga' 1; /* ms prefix - edit font-feature-settings property */
    -webkit-font-feature-settings: 'liga' 1; /* webkit prefix - edit font-feature-settings property */
    -o-font-feature-settings: 'liga' 1; /* o prefix - edit font-feature-settings property */
    font-feature-settings: 'liga' 1;
    margin-bottom: 20px;
    letter-spacing: 0;
    text-indent: 0;
    color: #474040;
    margin-top: 0;
}

h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    line-height: 20px;
    font-family: proxima-nova;
    color: #474040;
    margin-top: 0;
    margin-bottom: 18px;
    -moz-font-feature-settings: 'liga=1'; /* moz prefix - edit font-feature-settings property */
    -ms-font-feature-settings: 'liga' 1; /* ms prefix - edit font-feature-settings property */
    -webkit-font-feature-settings: 'liga' 1; /* webkit prefix - edit font-feature-settings property */
    -o-font-feature-settings: 'liga' 1; /* o prefix - edit font-feature-settings property */
    font-feature-settings: 'liga' 1;
}

h3 {
    font-weight: 800;
    font-style: normal;
    font-family: proxima-nova;
    font-size: 30px;
    margin-bottom: 9px;
    line-height: 26px;
    margin-top: 12px;
}

h5 {
  font-weight: 300;
}

p a:link {
    text-decoration: none;
    color: #ADAA9A;
}

p a:hover {
    text-decoration: none;
    color: #727066;
}

p {
    margin-bottom: 12px;
    color: #474040;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.highlight {
    margin-bottom: 25px;
    color: #474040;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.skills {
    margin-bottom: 15px;
    color: #9B9292;
    font-family: ff-tisa-web-pro;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    -moz-font-feature-settings: 'liga=1'; /* moz prefix - edit font-feature-settings property */
    -ms-font-feature-settings: 'liga' 1; /* ms prefix - edit font-feature-settings property */
    -webkit-font-feature-settings: 'liga' 1; /* webkit prefix - edit font-feature-settings property */
    -o-font-feature-settings: 'liga' 1; /* o prefix - edit font-feature-settings property */
    font-feature-settings: 'liga' 1;
}
.container {margin-top: 50px;}

#projects {
  h2 {margin-top: 0; margin-bottom: 15px;}
  .project {
    padding: 10px 15px 10px; 
    background-color: #f3f3f3; 
    @include border-radius(4px, 4px); 
    margin-bottom: 18px; 
  }
}

/* ========================================================
   Mini Profile
   ===================================================== */

$hoverColor: deepSkyBlue;

.contact {
  margin-bottom: 21px;
  .user { text-align: left; }
}

.user {
  position: relative;
  height: 32px;
  @include inline-block;

  img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  h5 {
    float: left;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    
    small {
      display: block;
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0, 0, 0, .6);
      text-shadow: 0 1px rgba(255, 255, 255, .3);
      *color: #364168; // IE 7
    }
  }

  &:hover ul {
    visibility: visible;
    opacity: 1;
    padding: 4px 0 6px;
  }

  ul {
    margin: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%; left: 0; right: 0;
    border: 1px solid;
    border-color: #777 #6c6c6c #666;
    border-radius: 5px;
    width: 220%;
    @include transition-property(opacity, padding, visibility);
    @include transition(.2s ease-out);
    @include background(#fff);
    @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, .9), 0 1px 2px rgba(0, 0, 0, .1));
  }

  ul:before, ul:after, li:first-child:after { // Arrow
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 15px;
    border: 7px outset transparent;
  }

  ul:before { // Arrow border
    border-top: 7px solid #555;
    bottom: -14px;
  }

  li:first-child:after { // Arrow inner shadow
    border-top: 7px solid #fff;
    bottom: -13px;
  }

  ul:after { // Arrow background
    border-top: 7px solid #fff;
    bottom: -12px;
  }

  li {
    padding: 0 12px;
    font-size: 11px;
    color: #999;
    text-shadow: 0 1px #fff;

    &.sep {
      border-top: 1px solid #eee;
      padding-top: 4px;
      margin-top: 4px;
      @include box-shadow(inset 0 1px rgba(255, 255, 255, .6));
    }

    a {
      display: block;
      position: relative;
      margin: 0 -13px;
      padding: 0 20px 0 12px;
      color: #313a4f;
      border: 1px solid transparent;

      &:hover {
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, .3);
        border-color: $hoverColor #666 darken($hoverColor, 5%);
        @include background($hoverColor);
      }
    }
  }
}

.red {color: $red;}
.orange {color: $orange;}
.light-blue {color: $lightBlue};

@media (max-width: 979px) and (min-width: 768px) {
  .big-title {font-size: 32px; line-height: 36px;}
}
@media (min-width: 768px) and (max-width: 979px) {
	h1 {font-size: 60px; line-height: 60px;}
	}